html, body {
   font-family: sans-serif;
   width: 100%;
   margin: 0;
   padding: 0;
}

#calculator {
   width: 300px;
   height: 500px;
   background: #222;
   border: 1px #222 solid;
   border-radius: 10px;
   margin: 0 auto;
   margin-top: 50px;
}

#display {
   width: 250px;
   height: 40px;
   margin: 0 auto;
   margin-top: 25px;
   padding-top: 20px;
   padding-right: 10px;
   background: #fff;
   border-radius: 10px;
   text-align: right;
   font-size: 25px;
}

#buttons {
   width: 280px;
   height: 330px;
   margin: 0 auto;
   margin-top: 45px;
}

button.button {
   width: 50px;
   height: 50px;
   background: #666;
   text-align: center;
   color: #fff;
   font-size: 20px;
   border: 1px #666 solid;
   border-radius: 10px;
}

.button.clear {
   background: #ff5747;
   border: 1px #dd5747 solid;
}

.button.operation {
   background: #4793ff;
}

#equals {
   width: 250px;
   height: 50px;
   margin: 0 auto;
}

.button.equals {
  width: 250px;
  height: 50px;
  background: #ffb347;
}
